parameters:
  level: 5
  paths:
    - Classes
    - Configuration
    - Resources/Private/Vendor/canto_saas_api_client/src
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#JetBrains\\PhpStorm\\ArrayShape#'
