<li class="canto-tree-item">
    <div class="canto-folder-item" data-folder-id="{item.scheme}<>{item.id}">
        <f:if condition="{item.children -> f:count()}">
            <i class="icon-s-Dropdown_16 folder-toggle"></i>
        </f:if>
        <span class="folder-label"
              data-id="{item.id}"
              data-scheme="{item.scheme}"
              data-info="{item.scheme}<>{item.id}">
            <f:if condition="{item.scheme} == 'folder'">
                <f:then><i class="icon-s-Folder_open-20px"></i></f:then>
            </f:if>
            <f:if condition="{item.scheme} == 'album'">
                <f:then><i class="icon-s-Album-20px"></i></f:then>
            </f:if>
            {item.name}
        </span>
    </div>

    <f:if condition="{item.children -> f:count()}">
        <div class="subtree" style="display: none;">
            <ul class="canto-tree-list">
                <f:for each="{item.children}" as="subitem">
                    <f:render partial="RecursiveCantoItem" arguments="{item: subitem}" />
                </f:for>
            </ul>
        </div>
    </f:if>
</li>
